@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  :root {
    --background: 207 27% 94%;
    --foreground: 201 24% 14%;
    --card: 207 27% 94%;
    --card-foreground: 201 24% 14%;
    --popover: 207 27% 94%;
    --popover-foreground: 201 24% 14%;
    --primary: 179 49% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 204 57% 46%;
    --secondary-foreground: 179 49% 36%;
    --muted: 213 27% 84%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 213 27% 84%;
    --accent-foreground: 179 49% 36%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 27% 84%;
    --input: 207 27% 94%;
    --ring: 201 24% 14%;
    /* sidebar */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 201 24% 14%;
    --foreground: 0 0% 98%;
    --card: 201 24% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 201 24% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 164 52% 47%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    /* sidebar */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .sidebar {
    @apply hidden sm:flex sm:flex-col sm:items-center sm:gap-4 sm:px-2 sm:py-4 lg:w-52 lg:items-start lg:px-4;
  }
  .button-padding {
    @apply px-4 py-2;
  }
  .text-heading {
    @apply text-xl font-bold capitalize tracking-wide md:text-2xl;
  }
  .text-sub-heading {
    @apply text-lg font-bold capitalize tracking-wide md:text-xl;
  }
  .text-span {
    @apply text-xs font-semibold text-slate-400 md:text-sm;
  }
  /* * FORM */
  .form-container {
    @apply mt-4 w-full max-w-[800px] sm:w-5/6 lg:w-3/4 xl:w-2/3;
  }
  .form-grid {
    @apply lg:form-field-grid primary-scrollbar grid gap-2 overflow-y-scroll pr-4 lg:items-center;
  }
  .form-field-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-auto-rows: minmax(50px, auto);
  }
  .form-field-error {
    @apply mt-2 text-sm text-red-500;
  }
  .form-user-container {
    @apply form-grid max-h-[60vh] sm:max-h-[77vh];
  }
  .form-category-container {
    @apply form-grid max-h-[60vh] sm:max-h-[77vh];
  }
  .form-menu-container {
    @apply form-grid max-h-[70vh] sm:max-h-[77vh];
  }
  /* * END FORM */
  .content-container {
    @apply primary-scrollbar h-full w-full overflow-y-scroll p-4 md:px-6;
  }

  .required-field::after {
    content: "*";
    color: red;
    margin-left: 2px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .primary-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .primary-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  .primary-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 4px;
  }

  /* Table */
  .table-content {
    @apply border-b border-gray-200 even:bg-background hover:bg-muted;
  }

  /* Loader */
  .loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: hsl(var(--primary));
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
  }

  .loader::after,
  .loader::before {
    content: "";
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
  }
  .loader::before {
    left: -20px;
    animation-delay: 0s;
  }

  @keyframes animloader {
    0% {
      height: 48px;
    }
    100% {
      height: 4px;
    }
  }
}
