@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 195 50% 95%;
    --foreground: 0 0% 3.9%;
    --card: 195 50% 95%;
    --card-foreground: 0 0% 3.9%;
    --popover: 195 50% 95%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 164 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 31 100% 56%;
    --secondary-foreground: 164 52% 47%;
    --muted: 31 100% 56%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 31 100% 56%;
    --accent-foreground: 164 52% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 50% 95%;
    --input: 195 50% 95%;
    --ring: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 164 52% 47%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .sidebar {
    @apply hidden sm:flex sm:flex-col sm:items-center sm:gap-4 sm:px-2 sm:py-4 lg:min-w-60 lg:max-w-60 lg:items-start lg:px-4;
  }
  .button-padding {
    @apply px-4 py-2;
  }
  .text-heading {
    @apply text-xl font-bold capitalize md:text-2xl lg:text-2xl;
  }
  .text-sub-heading {
    @apply text-lg font-bold capitalize md:text-xl lg:text-xl;
  }
  .text-span {
    @apply text-xs font-semibold text-slate-400 md:text-sm;
  }
  /* * FORM */
  .form-container {
    @apply w-full max-w-[800px] sm:w-5/6 lg:w-3/4 xl:w-2/3;
  }
  .form-grid {
    @apply lg:form-field-grid primary-scrollbar grid max-h-[70vh] gap-2 overflow-y-scroll sm:max-h-[80vh] lg:items-center;
  }
  .form-field-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-auto-rows: minmax(50px, auto);
  }
  .form-field-error {
    @apply mt-2 text-sm text-red-500;
  }
  /* * END FORM */

  .required-field::after {
    content: "*";
    color: red;
    margin-left: 2px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .primary-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .primary-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  .primary-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 4px;
  }
}
